# ignore all
*

# add project python files
!dakara_server/**/*.py

# add deployment files
!deployment/**/*.py
!deployment/**/*.sh
!deployment/**/*.conf.sample
!deployment/**/*.conf

# add root files
!/*.md
!/dakara-client-web*.zip
!/LICENCE
!/requirements*.txt
!/setup.cfg
