APScheduler<3.6.0,>=3.5.3
async-generator<1.11,>=1.10
black; python_version >= '3.6'
channels<2.2.0,>=2.1.5
codecov
coreapi<2.4.0,>=2.3.3
coverage
dj-database-url<0.6.0,>=0.5.0
django-ordered-model<2.1.0,>=2.0.0
Django<1.12.0,>=1.11.23
djangorestframework<3.10.0,>=3.9.1
flake8
progressbar2==3.34.3
pymediainfo==2.1.9
pysubs2==0.2.2
pytest-asyncio<0.9.0,>=0.8.0
pytest-django<3.4.0,>=3.3.2
pytest-mock<1.11.0,>=1.10.0
pytest<3.7.0,>=3.6.3
python-decouple<3.2,>=3.1
pywin32==223; sys_platform == 'win32'
PyYAML==4.2b4
