# Configuration file for nginx main file
# `nginx_main.conf` is the configuration file that is used and that should be
# maintained by the user
# `nginx_main.conf.sample` is the default configuration file which is updated
# automatically
# Version: 1.10.0

worker_processes 4;
