<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Dakara preview</title>
        <link rel="stylesheet" href="/static/dakara.css" type="text/css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:400,100,700,300" type="text/css">
    </head>
    <body>
        <header>
            <h1>Dakara</h1>
        </header>
        <div id="content">
        </div>
        <footer>
            <h2>Dakara Project</h2>
            <span clas="version">Alpha Proof of Concept</span>
        </footer>
        <script src="/static/dakara.js"></script>
    </body>
</html>
