<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Dakara preview</title>
        <link rel="stylesheet" href="/static/dakara.css" type="text/css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:400,100,700,300" type="text/css">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/react/0.14.7/react.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/react/0.14.7/react-dom.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/babel-core/5.8.23/browser.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    </head>
    <body>
        <header>
            <h1>Dakara</h1>
        </header>
        <div id="content">
        </div>
        <footer>
            <h2>Dakara Project</h2>
            <span clas="version">Alpha Proof of Concept</span>
        </footer>

        <script type="text/babel">
        var LibraryEntry = React.createClass({
            handleAdd: function() {
                var songId = this.props.song.id;
                this.props.addToPlaylist(songId);
            },
            render: function() {
                return (
                        <li>
                            <div className="data">
                                {this.props.song.title}
                            </div>
                            <div className="controls">
                                <div className="add" onClick={this.handleAdd}>
                                    <i className="fa fa-play"></i>
                                </div>
                            </div>
                        </li>
                );
            }
        });

        var Library = React.createClass({
            getInitialState: function() {
                return {libraryEntries: {count: 0, results: []}, search: ""};
            },

            componentDidMount: function() {
                this.refreshEntries(this.props.url + "library/songs/");
            },

            handleNext: function() {
                this.refreshEntries(this.state.libraryEntries.next);
            },

            handlePrevious: function() {
                this.refreshEntries(this.state.libraryEntries.previous);
            },

            handleFirst: function() {
                if (this.state.libraryEntries.previous) {
                    this.refreshEntries(this.props.url + "library/songs/?title=" + encodeURIComponent(this.state.search));
                }
            },

            handleLast: function() {
                if (this.state.libraryEntries.next) {
                    this.refreshEntries(this.props.url + "library/songs/?page=last&title=" + encodeURIComponent(this.state.search));
                }
            },

            handleSearchChange: function(e) {
                this.setState({search: e.target.value});
            },

            handleSubmit: function(e) {
                e.preventDefault();
                this.handleSearch(e);
            },

            handleSearch: function(e) {
                this.refreshEntries(this.props.url + "library/songs/?title=" + encodeURIComponent(this.state.search));                
            },

            addToPlaylist: function(songId) {
                $.ajax({
                url: this.props.url + "playlist/",
                dataType: 'json',
                type: 'POST',
                data: {"song": songId},
                headers: {
                    "Authorization": "Basic " + btoa(this.props.auth)
                },
                success: function(data) {
                    this.props.loadStatusFromServer();
                }.bind(this),
                error: function(xhr, status, err) {
                console.error(this.props.url, status, err.toString() + xhr.responseText);
                }.bind(this)
                }); 
            },

            refreshEntries: function(url) {
                if (url) {
                    $.ajax({
                      url: url,
                      dataType: 'json',
                      cache: false,
                      headers: {
                          "Authorization": "Basic " + btoa(this.props.auth)
                      },
                      success: function(data) {
                        this.setState({libraryEntries: data});
                      }.bind(this),
                      error: function(xhr, status, err) {
                        console.error(this.props.url, status, err.toString());
                      }.bind(this)
                    });
                }
            },

            render: function() {
                var addToPlaylist = this.addToPlaylist;
                var list = this.state.libraryEntries.results.map(function(entry){
                    return (<LibraryEntry song={entry} addToPlaylist={addToPlaylist}/>);
                });
                var count = this.state.libraryEntries.count;
                var hasNext = this.state.libraryEntries.next;
                var hasPrevious = this.state.libraryEntries.previous;
                return (
                <div>
                    <form id="query" onSubmit={this.handleSubmit}>
                        <div className="field">
                            <input type="text" value={this.state.search} onChange={this.handleSearchChange}/>
                        </div>
                        <div className="controls">
                            <div className="search" onClick={this.handleSearch}>
                                <i className="fa fa-search"></i>
                            </div>
                        </div>
                    </form>
                    <div id="results">
                        <ul id="results-listing" className="listing">
                            {list}
                        </ul>
                    </div>
                    <nav id="paginator">
                        <div className="controls">
                            <div className={hasPrevious? "first" : "first disabled"} onClick={this.handleFirst}>
                                <i className="fa fa-angle-double-left"></i>
                            </div>
                            <div className={hasPrevious? "previous" : "previous disabled"} onClick={this.handlePrevious}>
                                <i className="fa fa-angle-left"></i>
                            </div>
                            <div className={hasNext? "next" : "next disabled"} onClick={this.handleNext}>
                                <i className="fa fa-angle-right"></i>
                            </div>
                            <div className={hasNext? "last" : "last disabled"} onClick={this.handleLast}>
                                <i className="fa fa-angle-double-right"></i>
                            </div>
                        </div>
                        <div className="info">
                            <div id="library-amount">
                                <span className="stat">{count}</span>
                                <span className="description">song{count == 1? '': 's'} found</span>
                            </div>
                        </div>
                    </nav>
                </div>
                );
            }
        });




        var Player = React.createClass({
            handlePlayPause: function(e){
                if (this.props.playerStatus.playlist_entry){
                    var pause = !this.props.playerStatus.paused;
                    this.props.sendPlayerCommand({"pause": pause});
                }
            },

            handleSkip: function(e){
                if (this.props.playerStatus.playlist_entry){
                    this.props.sendPlayerCommand({"skip": true});
                }
            },

            render: function() {
                var playerStatus = this.props.playerStatus;
                var timing = playerStatus.timing;
                if (timing){
                    timing = timing.substring(3,8);
                }
                var songName;
                var playIcon = "fa fa-";
                if (playerStatus.playlist_entry){
                    songName = playerStatus.playlist_entry.song.title;
                    playIcon += playerStatus.paused ? "play" : "pause";
                } else {
                    playIcon += "stop";
                }
                return (
                <div id="player">
                    <div className="controls">
                        <div className="play-pause" onClick={this.handlePlayPause}>
                            <i className={playIcon}></i>
                        </div>
                        <div className="skip" onClick={this.handleSkip}>
                            <i className="fa fa-step-forward"></i>
                        </div>
                    </div>
                    <div id="playlist-current-song" className="details">
                        <span className="title">{songName}</span>
                    </div>
                    <div className="status">
                        <span id="playlist-current-timing" className="current">{timing}</span>
                    </div>
                </div>
                );

            }
        });

        var PlaylistEntry = React.createClass({
            handleRemove: function(e){
                    this.props.removeEntry(this.props.entry.id);
            },

            render: function(){
                return (
                    <li>
                        <div className="data">
                            {this.props.entry.song.title} 
                        </div>
                        <div className="controls">
                            <div className="remove" onClick={this.handleRemove}>
                                <i className="fa fa-times"></i>
                            </div>
                        </div>
                    </li>
                );
            }
        });


        var Playlist = React.createClass({
            handleCollapse: function() {
                this.setState({collapsed: !this.state.collapsed});
            },
            getInitialState: function() {
                return {collapsed: true};
            },

            render: function() {
                var playingId = this.props.playingId; 
                var list = this.props.entries.results;
                var playingIndex = list.map(function(item) { return item.id; })
                       .indexOf(playingId);
                //remove current playing id from list
                if (playingIndex > -1){
                    list.splice(playingIndex,1);
                } 
                var playlistEntries;
                var next;
                if (!this.state.collapsed){
                    var removeEntry = this.props.removeEntry;
                    playlistEntries = list.map(function(entry) {
                        return ( <PlaylistEntry entry={entry} removeEntry={removeEntry}/> );
                    });
                } else {
                    if (list[0]){
                        next = (
                            <div id="playlist-info-next">
                                <span className="stat">Next</span>
                                <span className="description">{list[0].song.title}</span>
                            </div>
                        );
                    }
                }
                
                var playlistSize = this.props.entries.count;
 
                return (
                <div id="entries">
                    <ul id="entries-listing" className="listing">
                        {playlistEntries}
                    </ul>
                    <div className="info" onClick={this.handleCollapse}> 
                        <div id="playlist-info-amount">
                            <span className="stat">{playlistSize}</span>
                            <span className="description">song{playlistSize == 1? '': 's'}<br/>in playlist</span>
                        </div>
                        {next}
                    </div>
                </div>
                );
            }
        });

        var PlayerBox = React.createClass({
            getInitialState: function() {
                return {playerStatus: {}, playlistEntries: {count: 0, results: []}};
            },

            sendPlayerCommand : function(cmd) {
                $.ajax({
                url: this.props.url + "playlist/player/manage/",
                dataType: 'json',
                type: 'PUT',
                data: cmd,
                headers: {
                    "Authorization": "Basic " + btoa(this.props.auth)
                },
                success: function(data) {
                }.bind(this),
                error: function(xhr, status, err) {
                console.error(this.props.url, status, err.toString() + xhr.responseText);
                }.bind(this)
                }); 
            },

            removeEntry : function(entryId) {
                $.ajax({
                url: this.props.url + "playlist/" + entryId + "/",
                dataType: 'json',
                type: 'DELETE',
                headers: {
                    "Authorization": "Basic " + btoa(this.props.auth)
                },
                success: function(data) {
                    this.loadStatusFromServer();
                }.bind(this),
                error: function(xhr, status, err) {
                console.error(this.props.url, status, err.toString() + xhr.responseText);
                }.bind(this)
                }); 
            },


            loadStatusFromServer: function() {
                $.ajax({
                    url: this.props.url + "playlist/player/status/",
                    dataType: 'json',
                    cache: false,
                    headers: {
                        "Authorization": "Basic " + btoa(this.props.auth)
                    },
                    success: function(data) {
                      this.setState({playerStatus: data});
                    }.bind(this),
                    error: function(xhr, status, err) {
                      console.error(this.props.url, status, err.toString());
                    }.bind(this)
                });
                $.ajax({
                  url: this.props.url + "playlist/",
                  dataType: 'json',
                  cache: false,
                  headers: {
                      "Authorization": "Basic " + btoa(this.props.auth)
                  },
                  success: function(data) {
                    this.setState({playlistEntries: data});
                  }.bind(this),
                  error: function(xhr, status, err) {
                    console.error(this.props.url, status, err.toString());
                  }.bind(this)
                });

            },

            componentDidMount: function() {
              this.loadStatusFromServer();
              setInterval(this.loadStatusFromServer, this.props.pollInterval);
            },

            render: function() {
                var playingId;
                if (this.state.playerStatus.playlist_entry){
                    playingId = this.state.playerStatus.playlist_entry.id;
                }

                return (
                    <div>
                        <div id="playlist">
                            <Player playerStatus={this.state.playerStatus} sendPlayerCommand={this.sendPlayerCommand}/>
                            <Playlist entries={this.state.playlistEntries} playingId={playingId} removeEntry={this.removeEntry}/>
                        </div>
                        <div id="library">
                            <Library url={this.props.url} auth={this.props.auth} pollInterval={this.props.pollInterval} loadStatusFromServer={this.loadStatusFromServer}/>
                        </div>
                    </div>
                );
            }

        }); 


        ReactDOM.render(
            <PlayerBox url="/" auth="flore:admin" pollInterval={2000}/>,
            document.getElementById('content')
        );


        </script>


    </body>
</html>
